<%- include('./partial/header.ejs'); %>




    <div class="container">

        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">

                <p class="display-6">Songs</p>
                <div class="row">
                    <% for( var i = 0; i< data.recentSongs.length; i++ )  { %>

                        <div class="col-sm-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= data.recentSongs[i].name %>
                                </h5>
                                <p class="card-text">
                                    <%= data.recentSongs[i].artist.name %>
                                </p>

                                <button onclick="fetchSong( '<%= data.recentSongs[i]._id %>' )" class="btn btn-primary"><span style="vertical-align: bottom;" class="material-icons">
                                    <div id = "playStatus" >play_arrow</div></span>
                               </button>

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="test" tabindex="-1" href="#">Add to playlist <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a tabindex="-1" href="#">Add to New Playlist</a></li>
                                                <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                                                <li class="dropdown-submenu">
                                                    <a class="test" href="#">Another dropdown <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">3rd level dropdown</a></li>
                                                        <li><a href="#">3rd level dropdown</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>

                        <% } %>
                </div>
            </div>
            <br/>


            <br/>
        </div>


    </div>
    <audio class="fix" id="audio" controls="controls" type="audio/mpeg">
    </audio>

    <script>
        $(document).ready(function() {
            $('.dropdown-submenu a.test').on("click", function(e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        async function fetchSong(id) {

            var audio = document.getElementById("audio");

            var options = {
                method: 'GET',
            }

            var res = await fetch(`/song/${id}`, options);
            res = await res.json();

            audio.src = res.songFile;
            audio.load();
            audio.play();
        }
    </script>


    <%- include('./partial/footer.ejs'); %>