<%- include('./partial/header.ejs'); %>

    <p class="fs-1 text-secondary center">
        <%= data.playlist.name %> playlist </p>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 center">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>

                        </tr>
                    </thead>
                    <tbody>

                        <% for(var i = 0; i<data.playlist.songs.length; i++)  {%>

                            <tr>
                                <th scope="row">
                                    <%= i+1 %>
                                </th>
                                <td>
                                    <a href='playlist/<%= data.playlist.songs[i]._id%>' class="noUnderline fs-4">
                                        <%= data.playlist.songs[i].name %>
                                    </a>
                                </td>
                            </tr>
                            <% } %>


                    </tbody>
                </table>
            </div>
        </div>
    </div>







    <%- include('./partial/footer.ejs'); %>